@using MoneyWeb.Helpers
@using MoneyWeb.Models.ViewModels
@model UsuarioViewModel
@{
    ViewData["Title"] = "Visualizar Usuário";
}

<div class="text-start">
    <form>
        <div class="form-floating mb-3">
            <input type="text" asp-for="Nome" class="form-control" id="txtNome" aria-describedby="nomeHelp" placeholder="" disabled readonly />
            <label for="txtNome">Nome</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" asp-for="NomeUsuario" class="form-control" id="txtUsuario" aria-describedby="nomeHelp" placeholder="" disabled readonly />
            <label for="txtUsuario">Usuário</label>
        </div>

        <div class="row">
            <div class="col text-start">
                <a class="btn btn-warning" role="button" asp-controller="Usuario" asp-action="Update">Editar</a>
            </div>
            <div class="col text-center">
                <a class="btn btn-primary" role="button" data-bs-toggle="modal" data-bs-target="#updatePasswordModal">Editar Senha</a>
            </div>
            <div class="col text-center">
                <a class="btn btn-danger" role="button" data-bs-toggle="modal" data-bs-target="#deleteModal">Deletar Conta</a>
            </div>
            <div class="col text-end">
                <a class="btn btn-secondary" role="button" asp-controller="Login" asp-action="Logoff">Logoff</a>
            </div>
        </div>
    </form>

    <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Excluir Usuário</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Você realmente deseja deletar sua conta?<br>
                    <b>Essa ação não poderá ser desfeita!</b>
                </div>
                <div class="modal-footer justify-content-between">
                    <form asp-controller="Usuario" asp-action="Delete" method="post">
                        <button type="submit" class="btn btn-danger">Excluir</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="updatePasswordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Editar Senha</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-controller="Usuario" asp-action="UpdatePassword" method="post">

                        <input type="hidden" asp-for="Nome" value="@Model.Nome" />
                        <input type="hidden" asp-for="NomeUsuario" value="@Model.NomeUsuario" />

                        <div class="form-floating mb-3">
                            <input type="password" asp-for="SenhaAtual" class="form-control @Html.GetValidationCssClass(nameof(Model.SenhaAtual))" id="txtSenhaAtual" aria-describedby="nomeHelp" placeholder="" />
                            <span asp-validation-for="SenhaAtual" class="invalid-feedback"></span>
                            <label for="txtSenhaAtual">Senha atual</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" asp-for="Senha" class="form-control @Html.GetValidationCssClass(nameof(Model.Senha))" id="txtSenha" aria-describedby="nomeHelp" placeholder="" />
                            <span asp-validation-for="Senha" class="invalid-feedback"></span>
                            <label for="txtSenha">Nova senha</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" asp-for="ConfirmarSenha" class="form-control @Html.GetValidationCssClass(nameof(Model.ConfirmarSenha))" id="txtConfirmarSenha" aria-describedby="nomeHelp" placeholder="" />
                            <span asp-validation-for="ConfirmarSenha" class="invalid-feedback"></span>
                            <label for="txtConfirmarSenha">Confirme sua senha</label>
                        </div>

                        <div class="modal-footer justify-content-between">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @if (TempData["AbrirModalSenha"] != null)
    {
        <script>
            var myModal = new bootstrap.Modal(document.getElementById('updatePasswordModal'))
            myModal.show()
        </script>
    }
}


@* VIEW ANTIGA DA LISTA DE USUARIOS
@using MoneyWeb.Models.ViewModels
@model IEnumerable<UsuarioViewModel>
@{
    ViewData["Title"] = "Lista de Usuários";
}

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a role="button" class="btn btn-primary" asp-controller="Usuario" asp-action="Create">Criar novo usuário</a>
</div>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Usuário</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {
                <tr>
                    <th scope="row">@usuario.Id</th>
                    <td>@usuario.Nome</td>
                    <td>@usuario.NomeUsuario</td>
                    <td>
                        <div class="d-grid gap-2 d-md-block" role="group" aria-label="Ações">
                            <a role="button" class="btn btn-info me-md-2" asp-controller="Usuario" asp-action="Read">Visualizar</a>
                            <a role="button" class="btn btn-warning" asp-controller="Usuario" asp-action="Update">Editar</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>Nenhum usuário cadastrado!</h2>
}
*@
